@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto&display=swap') @tailwind base;

.m-4{
  margin: 1rem
}

.mb-6{
  margin-bottom: 1.5rem
}

.mr-2{
  margin-right: 0.5rem
}

.mt-8{
  margin-top: 2rem
}

.flex{
  display: flex
}

.grid{
  display: grid
}

.hidden{
  display: none
}

.justify-center{
  justify-content: center
}

.gap-10{
  gap: 2.5rem
}

.border-b{
  border-bottom-width: 1px
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pb-1{
  padding-bottom: 0.25rem
}

.font-body{
  font-family: Nunito
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1
}

.font-semibold{
  font-weight: 600
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(255 99 99 / var(--tw-text-opacity))
}

.text-yellow-500{
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity))
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-gray-700{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.card{
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.badge{
  position: absolute;
  top: 0px;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(226 226 213 / var(--tw-bg-opacity));
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(136 136 131 / var(--tw-text-opacity))
}

.card-image{
  height: 8rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover
}

@media (min-width: 640px){
  .card-image{
    height: 12rem
  }
}

@media (min-width: 768px){
  .md\:col-span-2{
    grid-column: span 2 / span 2
  }

  .md\:justify-end{
    justify-content: flex-end
  }
}

@media (min-width: 1024px){
  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}